body {
    box-sizing: border-box;
    background-color: slategray;
    margin: 10px;
    text-align: center;
}
button {
    background-color: cornsilk;
    font-weight: bold;
    padding: 12px;
    margin: 20px;
}
span {
    font-size: 40px;
    font-weight: bold;
    text-decoration: underline;
}
.very {
    font-size: 40px;
    font-weight: bold;
}